html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* @font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Regular.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.woff) format(woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
} */

body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #868695;
    background-color: #0E0E2C;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

/*__________________________header_________________________*/

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 0 0;
}

.header__wrapper {
    margin-bottom: 300px;
}

.menu-list {
    display: flex;
    gap: 53px;
}

.menu__list {
    margin-left: 100px;
}

.menu-list__link {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}

.menu-buttons {
    display: flex;
    gap: 27px;
}

.menu-buttons__item-transparent {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #FFBE0B;
    padding: 11px 35px;
    border: 1px solid #FFBE0B;
    border-radius: 5px;
    background-color: transparent;
}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    color: #000000;
    padding: 11px 35px;
    background-color: #FFBE0B;
    border-radius: 5px;
}

.header-burger {
    background-color: transparent;
    display: none;
}

.header-burger__svg {
    fill: #fff;
}

/* @media (max-width: 946px) {

    .menu__list,
    .menu__buttons {
        margin: 0 auto;
        display: none;
    }

    .header-burger {
        display: block;
    }

    .menu__logo {
        width: 200px;
    }
} */

/*_________________________shopify____________________*/


.shopify__plate {
    padding-bottom: 17px;
}

.plate__button {
    cursor: default;
    padding: 8px 17px;
    background-color: #172656;
    color: #3A86FF;
    font-size: 14px;
    text-transform: uppercase;
}

.shopify__wrapper {
    margin-bottom: 265px;
}

.shopify-content {
    max-width: 550px;
    /* background-image: url(/img/EllipseBlue.png);
    background-repeat: no-repeat;
    background-size: cover;
     */
}

.shopify__content {
    position: relative;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    color: #fff;
}

.shopify-content__title {
    font-weight: 700;
    font-size: 62px;
    line-height: 130%;
    color: #fff;
}


.shopify-content__title {
    padding-bottom: 34px;
}

.shopify-content__text {
    font-size: 16px;
    padding-bottom: 50px;
}

.form {
    border-radius: 10px;
    border: 3px solid rgba(150, 150, 150, 0.24);
    min-width: 485px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 20px;
    position: relative;
    z-index: 2;
}

.shopify-content__form--small {
    width: 485px;
}

.form__img {
    padding-right: 10px;
}

.form__control {
    margin-right: 18px;
    width: 265px;
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    line-height: 180%;
    color: #fff;
}

.shopify-content__form {
    margin-bottom: 35px;
}

.approval {
    display: flex;
    gap: 45px;
}

.approval-item {
    display: flex;
    align-items: center;
}

.approval-item__text {
    padding: 0 0 0 15px;
}

.shopify__img {
    position: absolute;
    top: -156px;
    left: 410px;
    z-index: 0;
}

.shopify-cards__card--vertically {
    position: absolute;
    top: 100px;
    right: -740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: -12px 13px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 192px;
    padding: 30px 15px 30px 15px;
}

.shopify-cards__img {
    padding-bottom: 10px;
}

.shopify-cards__title {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.shopify-cards__text {
    padding-bottom: 20px;
}

.shopify-cards__btn {
    display: block;
    padding: 10px 40px;
    background-color: #3A86FF;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
}

.shopify-cards__card--horizontally {
    width: 438px;
    max-height: 127px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 550px;
    left: 442px;
}

.shopify-cards__btn--video {
    border-radius: 100px;
    margin: 0;
    padding: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -22px;
}

.shopify-cards__textbox {
    text-align: center;
    padding: 0 22px 0 48px;
}

.shopify-cards__text--horiz {
    padding: 0;
}

.shopify-cards__img--vert {
    position: relative;
    bottom: 48px;
    left: 20px;
}

/*__________________services_____________*/

.services__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 117px;
}

.services__img {
    width: 635px;
}

.services__plate {
    padding-bottom: 20px;
}

.services__title {
    padding-bottom: 10px;
}

.indicators {
    display: flex;
    gap: 90px;
}

.indicators__item {
    max-width: 180px;
}

.indicators__item--bordered {
    padding-left: 38px;
}

.indicators__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    padding-bottom: 15px;
}

.indicators__title--yellow {
    color: #FFBE0B;
}

.indicators__title--orange {
    color: #FB5607;
}

.indicators__item--bordered {
    border-left: 1px solid #626276;
}

/*____________________________________________________*/

.creative__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 185px;
}

.creative-content {
    max-width: 535px;
}

.creative__plate {
    padding-bottom: 20px;
}

.creative-content__title {
    padding-bottom: 35px;
}

.creative-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 558px;
}

.creative-item {
    max-width: 265px;
    border-radius: 10px;
    padding: 25px 10px;
    transition: all 0.3s;
}

.creative-item:hover {
    background-color: #1A1A3D;
}

.creative-item__img {
    margin-bottom: 30px;
}

.creative-item__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
    padding-bottom: 20px;
}

.creative-item__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
}

/*________________________________________________*/

.stories__wrapper {
    display: flex;
    gap: 15px;
    position: relative;
    margin-bottom: 275px;
}

.stories-content__title {
    padding-bottom: 90px;
}

.stories-list__item {
    padding-bottom: 50px;
}

.stories-list__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    padding-bottom: 20px;
    color: #FFFFFF;
}

.stories-list div::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3A86FF;
    display: inline-block;
}

.stories-list__text {
    font-size: 14px;
}

.stories-card {
    position: absolute;
    bottom: -50px;
    left: -105px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 240px;
    width: 210px;
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: #000000;
}

/*_________________________ads_____________________*/

.ads__wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 150px;
}

.ads__plate {
    padding-bottom: 18px;
}

.ads-content__title {
    padding-bottom: 35px;
    max-width: 533px;
}

/*_______________________________________________________*/

.contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 185px;
}

.contact-textbox__title {
    padding-bottom: 17px;
}

.contact__textbox {
    padding-bottom: 50px;
}

/*________________________________________*/

.footer__wrapper {
    margin-bottom: 85px;
}