html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* @font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Regular.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.woff) format(woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
} */

body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #868695;
    background-color: #0E0E2C;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

/*__________________________header_________________________*/

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 0 0;
}

.header__wrapper {
    margin-bottom: 300px;
}

.menu-list {
    display: flex;
    gap: 53px;
}

.menu__list {
    margin-left: 100px;
}

.menu-list__link {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}

.menu-buttons {
    display: flex;
    gap: 27px;
}

.menu-buttons__item-transparent {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #FFBE0B;
    padding: 11px 35px;
    border: 1px solid #FFBE0B;
    border-radius: 5px;
    background-color: transparent;
}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    color: #000000;
    padding: 11px 35px;
    background-color: #FFBE0B;
    border-radius: 5px;
}

.header-burger {
    background-color: transparent;
    display: none;
}

.header-burger__svg {
    fill: #fff;
}

/* @media (max-width: 946px) {

    .menu__list,
    .menu__buttons {
        margin: 0 auto;
        display: none;
    }

    .header-burger {
        display: block;
    }

    .menu__logo {
        width: 200px;
    }
} */

/*_________________________shopify____________________*/


.shopify__plate {
    padding-bottom: 17px;
}

.plate__button {
    cursor: default;
    padding: 7px 13px;
    background-color: #172656;
    color: #3A86FF;
    font-size: 14px;
}

.shopify__wrapper {
    margin-bottom: 265px;
}

.shopify-content {
    max-width: 550px;
    background-image: url(/img/EllipseBlue.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.shopify__content {
    position: relative;
}

.shopify-content__title {
    font-weight: 700;
    font-size: 62px;
    line-height: 130%;
    color: #fff;
    padding-bottom: 34px;
}

.shopify-content__text {
    font-size: 16px;
    padding-bottom: 50px;
}

.form {
    border-radius: 10px;
    border: 3px solid rgba(150, 150, 150, 0.24);
    max-width: 485px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 20px;
    position: relative;
    z-index: 2;
}

.form__img {
    padding-right: 10px;
}

.form__control {
    margin-right: 18px;
    width: 265px;
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    line-height: 180%;
    color: #fff;
}

.shopify-content__form {
    margin-bottom: 35px;
}

.approval {
    display: flex;
    gap: 45px;
}

.approval-item {
    display: flex;
    align-items: center;
}

.approval-item__text {
    padding: 0 0 0 15px;
}

.shopify__img {
    position: absolute;
    top: -156px;
    left: 410px;
    z-index: 0;
}

.shopify-cards__card--vertically {
    position: absolute;
    top: 100px;
    right: -740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: -12px 13px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 192px;
    padding: 30px 15px 30px 15px;
}

.shopify-cards__img{
    padding-bottom: 10px;
}

.shopify-cards__title {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.shopify-cards__text {
    padding-bottom: 20px;
}

.shopify-cards__btn {
    display: block;
    padding: 10px 40px;
    background-color: #3A86FF;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
}

.shopify-cards__card--horizontally {
    width: 438px;
    max-height: 127px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 550px;
    left: 442px;
}

.shopify-cards__btn--video {
    border-radius: 100px;
    margin: 0;
    padding: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -22px;
}

.shopify-cards__textbox {
    text-align: center;
    padding: 0 22px 0 48px;
}

.shopify-cards__text--horiz {
    padding: 0;
}

.shopify-cards__img--vert {
    position: relative;
    bottom: 48px;
    left: 20px;
}